.display1{
  width: 50%;
  height: 50%;
  margin-left: 48%;
  margin-top: 3%;
  
}

.display2{
  margin-top: 5%;
  width: 50%;
  height: 50%;
  margin-left: 25%;
}

@keyframes move{
  from{background-color: white;}
  to{background-color: lightblue;}
}

.select:hover{
  animation: move 2s;
  background-color: lightblue;
}
